ENVIRONMENT=prod

DATABASE_URL=mysql+pymysql://root:<MYSQL_ROOT_PASSWORD와_동일한_값>@mysql:3306/closure_agent?charset=utf8mb4
MYSQL_ROOT_PASSWORD=

KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=
KAKAO_REDIRECT_URI=https://ktc4-kangwon-4.vercel.app

JWT_SECRET_KEY=
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7
